Repository mauriciord/github-api-with-apollo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(apollo): set apollo and added Providers as component
  src/index.tsx
  src/providers.tsx
  src/services/apollo.ts
Due: eslint --fix

refactor(lint-staged): added more extensions to use Prettier
  .lintstagedrc.json
Due: none

feat(common): initial files from CRA boilerplate
  src/react-app-env.d.ts
  src/reportWebVitals.ts
  src/setupTests.ts
Due: eslint --fix

feat(shared): common components and helpers
  src/shared/components/error-boundary.tsx
  src/shared/components/index.ts
  src/shared/components/layout.tsx
  src/shared/helpers/test-util.js
Due: eslint --fix, prettier --write

feat(repos): repos module that represents the Repository
  src/App.tsx
  src/modules/repos/__tests__/repo.test.js
  src/modules/repos/components/repo-card.tsx
  src/modules/repos/components/repo-list.tsx
  src/modules/repos/components/repo-page.tsx
  src/modules/repos/index.ts
  src/modules/repos/queries.ts
  src/modules/repos/types.ts
Due: eslint --fix, prettier --write

feat(search): search module that represents searching by a term
  src/modules/search/components/search-field.tsx
  src/modules/search/hooks/use-search.tsx
  src/modules/search/index.ts
Due: eslint --fix

docs(README): info about the stack and env example added
  .env.example
  README.md
Due: prettier --write

refactor(repos): first variable to the query and added FIXME on the test
  src/modules/repos/__tests__/repo.test.js
  src/modules/repos/components/repo-list.tsx
  src/modules/repos/queries.ts
Due: eslint --fix, prettier --write

refactor(gitignore): included .env
  .gitignore
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,css,md}
